<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 welcome">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Login</div>
				</div>
				<div class="panel-body">
					<!-- CJ: if you're going to put flash messages in the form like this, make a partial to DRY up your code since you're using this in multiple forms -->
					<% flash.each do |name, msg| %>
						<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
					<% end %>
					<%= form_for :user, url: sessions_path do |f| %>
					<%= f.email_field :email, placeholder: "Email", class: "form-control" %><br>
					<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
				</div>
				<div class="panel-footer">
					<%= f.submit "Submit", class: "btn btn-default" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

