<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 welcome">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Register</div>
				</div>
				<div class="panel-body">
					<% flash.each do |name, msg| %>
						<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
					<% end %>
					<%= form_for @user, :url => users_path, :html => { :multipart => true } do |f| %>
					<%= f.email_field :email, placeholder: "Email", class: "form-control" %><br>
					<%= f.text_field :full_name, placeholder: "Full Name", class: "form-control" %><br>
					<%= f.text_field :username, placeholder: "Username", class: "form-control" %><br>
					<%= f.password_field :password, placeholder: "Password", class: "form-control" %><br>
					<%= f.file_field :avatar %>
				</div>
				<div class="panel-footer">
					<%= f.submit "Submit", class: "btn btn-default" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



