<div class="content">
	<div class="col-md-3">
		<h2>Welcome <%= current_user.username %></h2>
		<%= image_tag @user.avatar.url(:medium) %>
		<br><%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-default" %>
	</div>
	<div class="col-md-9">
		<div class="col-md-6 user-stories">
			<% if current_user.stories.any? %>
			Your Stories
				<% current_user.stories.each do |story| %>
				<%= story.name %><br>
				<%= story.description %>
			<% end %>
			<% else %>
				<%= link_to "Add a Story", new_story_path, class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>
