<div class="jumbotron jumbotron-custom">
	<div class="text-center">
		<%= image_tag @user.avatar.url(:medium), class: "img-responsive avatar" %>
			<h3>Howdy <%= current_user.username.titleize %></h3>

		<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-default btn-xs" %>
		<%= link_to "Add a Story", new_story_path, class: "btn btn-default btn-xs" %>
	</div>
</div>
<div class="container user-stories">
	<% if current_user.stories.any? %>
	<% current_user.stories.each do |story| %>
	<div class="col-md-4 cover">
		<%= link_to image_tag(story.pictures.first.image(:medium).to_s, class: "img-responsive bx-viewport"), story_path(story) %><br>
		<%= link_to story.name.titleize, story_path(story) %><br>
	</div>
	<% end %>
</div>
<% else %>
	You haven't posted any stories! 
	<% end %>
</div>
