<h1>Profile</h1>
Welcome <%= current_user.username %>
<%= image_tag @user.avatar.url(:medium) %>

<% if current_user.stories.any? %>
	Your Stories
	<% current_user.stories.each do |story| %>
		<%= story.name %><br>
		<%= story.description %>
	<% end %>
<% else %>
	<%= link_to "Add a Story", new_story_path %>
<% end %>
<%= link_to "Edit Profile", edit_user_path(current_user) %>