<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 welcome"> 
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Post Your Adventure</div>
  </div>
  <div class="panel-body">

    <%= form_for @story, id: "story-form", :url => stories_path, :html => { :multipart => true } do |f| %>
  <div class="control-group">
      <%= f.text_field :name, placeholder: "Story Name", class: "form-control", required: true %>
  </div>
  <br>
  <div class="control-group"> 
      <%= f.text_field :description, placeholder: "Description", class: "form-control", required: true %>
  </div>
  <br>
  <div class="control-group">
      <%= file_field_tag "images[]", type: :file, multiple: true, required: true %>
  </div>
  </div>
  <div class="panel-footer">
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-default' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn btn-danger' %> &nbsp;
      *Images of 1000px or wider work best.
  </div>
<% end %>
  </div>
</div>