<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<input type="hidden" id="storyID" value="<%= @story.id %>"
			<h1 class="text-center"><%= @story.name %></h1>
			<p><%= @story.description %></p>
			<% if current_user && current_user.stories.include?(@story) %>
				<%= link_to "Edit Story", edit_story_path(@story)  %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
  <ul class="thumbnails files">
<% unless @pictures.empty? %>
  <% @pictures.each do |pic| %>
    <li class="span3" id="picture_<%= pic.id %>">
    <div class="thumbnail">
      <%= image_tag pic.image.url(:large) %>
      <div class="caption">
        <p style="text-align: center;">
        <%= link_to "Edit picture", picture_path(pic) %>

        <%=
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>