<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 slider-pg">
      <input type="hidden" id="storyID" value="<%= @story.id %>">
      <div class="pageflip bx-viewport">
        <% unless @pictures.empty? %>
        <% @pictures.each do |pic| %>
        <div class="page" style="background: url('picture_<%= pic.id %>')", class: "img-responsive">
          <%= image_tag pic.image.url(:large), class: "img-responsive" %>
        </div>
        <% end %>
        <% end %>
      </div>
      <h1><%= @story.name.titleize %></h1>
      <p><%= @story.description %></p>
      <% if current_user && current_user.stories.include?(@story) %>
      <%= link_to "Edit Story", edit_story_path(@story), class: "btn btn-default btn-xs"  %>
      <%= link_to 'Delete Story', story_path(@story), :method => 'delete', :data => {:confirm => 'Are you sure?'}, class: "btn btn-danger btn-xs" %>
      <% end %>
    </div>
  </div>
</div>