<!DOCTYPE html>
<html>
<head>
  <title>Sonder // Share Your Stories</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- CJ: move js to bottom of <body> for better load order -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_page?(root_path) %>
	<%= render "partials/nav" %>
<% else %>
	<%= render "partials/white_nav" %>
<% end %>

<%= yield %>

<%= render "partials/footer" unless @disable_footer %>

</body>
</html>
